@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif !important;
}

a {
  text-decoration: none;
}

.pageColor {
  padding: 20px 50px;
  background-color: #F1F5F94D;
}

/* CARD */
.customCardShadow {
  border-radius: 12px;
  background-color: #FFFFFF;
  border: 1px solid #A1A1AA4D;
  box-shadow: 0px 1px 2px 0px #FFFFFF;
  padding: 14px;
}

.customCard {
  border-radius: 12px !important;
  box-shadow: none !important;
  background-color: #ffffff;
  border: 1px solid #a1a1aa4d;
}

.MuiCardContent-root:last-child {
  padding: 0;
}

.borderCard {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
  background: #f3f3f5;
  border-radius: 5px;
}

.textareaNotes,
.textareaNotes:focus {
  width: 100%;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #FFFFFF;
  min-height: 150px;
  outline: none;
}