.mainTable {
  border-radius: 14px !important;
  padding: 20px;
  border: none;
}

.tableHeader {
  background: transparent;
  padding: 12px;
  font-weight: 500;
  text-transform: capitalize;
  color: #6E6E6E;
  height: 59px;
  border-radius: 0px;
  border: 0;
  font-size: 14px;
  white-space: nowrap;
  border-bottom: 1px solid #6E6E6E;
}

.tableHeader:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tableHeader:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.searchInput {
  height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 12px;
  padding: 12px 10px 0 40px;
  width: 230px;
}

/* exit */

.spanDate {
  margin: 0 20px;
}

.MuiIconButton-sizeMedium {
  color: #000 !important;
}

.customInput:focus {
  border: 1px solid #6ab2e2;
}

.dateInput {
  color: #000;
}

.MuiPickersLayout-root {
  opacity: 0;
}

/* BOTTOM AREA PAGINATION AND SHOW MORE */
.paginationShowMore {
  margin-top: 20px;
  position: relative;
  padding-bottom: 30px;
}

.showPagination {
  float: right;
}

.moreSelect {
  color: #000;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

/* TABLE HOVER EFFECT _____________ */
.nodataFound {
  text-align: justify;
  font-size: 15px !important;
  margin: 0;
}

.nodataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2rem;
  color: #666;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
 
/* TABLE CUSTOM SCROLLBAR */
.scrollbarTable {
  overflow-x: auto;
}

.scrollbarTable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollbarTable::-webkit-scrollbar {
  height: 8px;
  background-color: #f5f5f5;
}

.scrollbarTable::-webkit-scrollbar-thumb {
  background: #AD1003;
}

@media (max-width: 600px) {

  .scrollbarTable::-webkit-scrollbar {
    height: 5px;
  }

  /* TOP TABLE HEADING AND SEARCH WITH DATE PICKER */
  .textFeild_datePicker {
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
    display: flex;
  }

  .tableHeading {
    margin-right: 20px;
  }
}